/**
 * Theme Name: Everlee Labs Child Theme
 * Template: el-theme
 * Version: 1.0.0
 * Description: Child theme for el-theme parent theme
 * Author: Everlee Labs
 * License: GNU General Public License v2 or later
 * License URI: https://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain: el-theme-child
 */

/* Add your custom styles below this line */

